@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif, Helvetica, sans-serif;
}

.grid-background::before,
.grid-background::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.grid-background::before {
  background: linear-gradient(
    to bottom,
    transparent 98%,
    rgba(255, 255, 255, 0.1) 10%
  );
  background-size: 100% 20px;
}

.grid-background::after {
  background: linear-gradient(
    to right,
    transparent 98%,
    rgba(255, 255, 255, 0.1) 10%
  );
  background-size: 20px 100%;
}

.gradiant {
  background-image: repeating-linear-gradient(
    90deg,
    #03132a,
    #03132a 0.1px,
    #03132a 1px,
    #03132a 0.5px
  );
}

.formcard {
  background-color: #0d1323;
  color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  z-index: 2;
}

.form {
  background-color: #161e35;
}

.formtitle-underline {
  display: inline-block;
  position: relative;
  color: transparent;
  text-decoration: none;
}

.formtitle-underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 250px;
  background: rgba(175, 196, 196, 1);
  background: linear-gradient(
    90deg,
    rgba(184, 189, 190, 0.1) 0%,
    rgba(175, 196, 196, 1) 50%,
    rgba(184, 189, 190, 0.1) 100%
  );
  transition: background 0.3s ease;
}

.input {
}
